* {
    padding: 0;
    margin: 0;
}

body {
    font-family: fantasy;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.navbar-left {
    font-size: 20px;
}

.navbar-middle>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-middle>ul>li {
    margin: 0 10px;
}

.navbar-middle a {
    text-decoration: none;
}

.navbar-right img {
    width: 20px;
}

.navbar-right {
    display: flex;
}

.navbar-right-image {
    padding-right: 10px;
}

.page-header {
    padding: 20px 100px;
    background-image: linear-gradient(90deg, rgb(251, 214, 210), rgb(241, 144, 183), rgb(206, 73, 191), rgb(166, 62, 197));
}

.hero-page {
    background-color: rgb(250, 237, 235);
    padding: 100px 100px 10px 100px;
}

.hero-page-text {
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.hero-page-text span {
    color: purple;
}

.hero-page-middle {
    background-color: rgb(241, 144, 183);
    color: #fff;
    font-size: 20PX;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.team-page-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    text-align: center;
    background-color: rgb(243, 227, 226);
}

.team-page-right {
    display: flex;
    padding-top: 20px;
}

.team-page-right img {
    width: 80%;
    border: 5px solid rgb(191, 109, 216);
    border-radius: 100px;
    margin: 20px;
}

.testimony h1 {
    text-align: center;
    padding: 20px;
}

.testimonial-wrapper {
    padding: 20px 100px;
    display: flex;
}

.testimonial {
    border: 2px dotted;
    border-radius: 100px;
    padding: 50px;
    margin: 20px;
    background-color: rgb(234, 114, 220);
    color: #fff;
}

.footer-wrapper {
    background-color: purple;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

.grid-items h3 {
    padding-bottom: 25px;
}

.grid-items ul {
    list-style: none;
}

.grid-items a {
    text-decoration: none;
    color: #fff;
}

.grid-items a:hover {
    color: rgb(251, 214, 210);
}